INSYNC_DB_PATH=.insync/insync.db
INSYNC_CONFIG=./insync.config.ts
INSYNC_LOG_LEVEL=info

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

ICLOUD_USERNAME=
ICLOUD_APP_SPECIFIC_PASSWORD=
ICLOUD_CALDAV_URL=https://caldav.icloud.com
